.docs-body {
  padding: 20px 0;
}

.docs-body > .top {
  display: flex;
  justify-content: space-between;
}

.docs-body > .top > .title {
  font-size: 120%;
  font-family: "Rubik", sans-serif;
}

.docs-body > .all-docs {
  display: flex;
  flex-wrap: wrap;
}

.docs-body > .all-docs > * > .doc-icon {
  height: 220px;
  width: 200px;
  border: 2px solid #dae1e9;
  border-radius: 4px;
  margin: 20px 20px;
  transition: all 0.2s ease-in;
  padding: 30px;
}

.docs-body > .all-docs > * > .doc-icon > .icon {
  color: red;
  font-size: 50px;
}

.docs-body > .all-docs > * > .doc-icon > .topic {
  margin-top: 15px;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}

.docs-body > .all-docs > * > .doc-icon > .title {
  margin-top: 10px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.docs-body > .all-docs > * > .doc-icon:hover {
  cursor: pointer;
  background: #dae1e9;
}

.date-icon {
  font-size: 140%;
  margin: 20px 0;
  margin-top: 40px;
  font-weight: 700;
}

.hashtags {
  padding: 0 30px;
  width: 220px;
  display: flex;
  flex-wrap: wrap;
}

.hastags > .badge {
    margin: 5px!important;
}