img.hero {
  height: auto;
  width: auto;
  max-height: 500px;
}

.login-body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-body > .right {
  width: 65vw;
  background: #064356;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.login-body > .right > .hero-image {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-body > .right > .app-title {
  font-size: 40px;
  line-height: 40px;
  color: white;
}

.login-body > .left {
  width: 35vw;
  display: flex;
  flex-direction: column;
}

.login-body > .left > .title {
  font-size: 150%;
}

.login-body > .left > .title,
.login-body > .left > .footer {
  text-align: center;
  padding: 30px 20px;
}

.login-body > .left > .login-box {
  padding: 0px 30px;
  flex-grow: 1;
  align-items: center;
}

.information {
  margin: 70px 0;
}

.information > p {
  margin: 0 5px;
}

@media only screen and (max-width: 500px) {
  .login-body {
    display: flex;
    flex-direction: column;
  }

  img.hero {
    max-width: 70vw;
  }

  .login-body > .right {
    width: 100vw;
  }

  .login-body > .left {
    width: 100vw;
  }

  .login-body > .left > .title,
  .login-body > .left > .footer {
    text-align: center;
    padding: 20px 20px 10px 20px;
  }

  .login-body > .right > .app-title {
    font-size: 30px;
    line-height: 30px;
    color: white;
  }

  .information {
    margin: 10px 0;
  }

  .login-body > .left > .title {
    font-size: 120%;
  }
}
